Repository opencb/opencga, pull requests merged in 2019-10, with the labels that each got.

#1366 Remove portal button
  opencga-app/app/scripts/azure/arm/README.md
Labels: azure

#1372 Add a GitHub Action pipeline test
  .github/workflows/maven.yml
Labels: devops

#1377 client: change response and result for responses and results, #1375
  opencga-client/src/main/R/R/OpencgaR-methods.R
  opencga-client/src/main/R/R/commons.R
Labels: client
