Repository opencb/opencga, pull requests merged in 2019-02, with the labels that each got.

#1099 Deployments used on 30 Jan Sprint Review
  Jenkinsfile
  opencga-app/app/scripts/azure/arm/README.md
  opencga-app/app/scripts/azure/arm/appgw/azuredeploy.json
  opencga-app/app/scripts/azure/arm/armvalconfig.json
  opencga-app/app/scripts/azure/arm/azurebatch/azuredeploy.json
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/azuredeploy.parameters.json
  opencga-app/app/scripts/azure/arm/daemonvm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/hdinsight/azuredeploy.json
  opencga-app/app/scripts/azure/arm/loganalytics/azuredeploy.json
  opencga-app/app/scripts/azure/arm/mongodb/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/zookeeper/azuredeploy.json
  opencga-app/app/scripts/azure/arm/validate.sh
  opencga-app/app/scripts/azure/arm/vnet/azuredeploy.json
  opencga-app/app/scripts/azure/arm/webservers/azuredeploy.json
  opencga-app/app/scripts/docker/opencga-init/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/override-js.py
  opencga-app/app/scripts/docker/opencga-init/setup.sh
Labels: azure, azure-smoke

#1120 Add monitoring to Azure Batch
  opencga-app/app/scripts/azure/arm/appinsights/azuredeploy.json
  opencga-app/app/scripts/azure/arm/armvalconfig.json
  opencga-app/app/scripts/azure/arm/azurebatch/azuredeploy.json
  opencga-app/app/scripts/azure/arm/azuredeploy.json
Labels: azure, azure-smoke

#1119 Add an ARM template to deploy Terraform
  opencga-app/app/scripts/azure/terraform/.dockerignore
  opencga-app/app/scripts/azure/terraform/Dockerfile
  opencga-app/app/scripts/azure/terraform/arm/azuredeploy.json
  opencga-app/app/scripts/azure/terraform/arm/azuredeploy.parameters.json
  opencga-app/app/scripts/azure/terraform/azurebatch/batch.tf
  opencga-app/app/scripts/azure/terraform/azurefiles/main.tf
  opencga-app/app/scripts/azure/terraform/daemonvm/daemonvm.tf
  opencga-app/app/scripts/azure/terraform/entrypoint.sh
  opencga-app/app/scripts/azure/terraform/hdinsight/armwrapper.tf
  opencga-app/app/scripts/azure/terraform/main.tf
  opencga-app/app/scripts/azure/terraform/mongo/mongo.tf
  opencga-app/app/scripts/azure/terraform/network.tf
  opencga-app/app/scripts/azure/terraform/webservers/webservers.tf
Labels: azure, azure-tf

#1121 Docker: add healthcheck in opencga-daemon
  opencga-app/app/scripts/docker/opencga-daemon/Dockerfile
Labels: azure

#1094 Move docker files to Oracle Java 8 & Debian
  Jenkinsfile
  opencga-app/app/scripts/docker/Makefile.docker
  opencga-app/app/scripts/docker/build-all.sh
  opencga-app/app/scripts/docker/opencga-app/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/Dockerfile
  opencga-app/app/scripts/docker/opencga/Dockerfile
Labels: azure

#1109 Added separate mounted managed SSD for MongoDB storage
  opencga-app/app/scripts/azure/arm/mongodb/azuredeploy.json
  opencga-app/app/scripts/azure/arm/mongodb/postdeploy.sh
Labels: azure

#1134 Hotfix for single-clustered mongodb instances not configured correctly
  opencga-app/app/scripts/azure/arm/mongodb/azuredeploy.json
  opencga-app/app/scripts/azure/arm/mongodb/postdeploy.sh
Labels: azure

#1131 Add log analytics agent to Mongo servers
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/mongodb/azuredeploy.json
Labels: azure, azure-smoke

#1138 Updated instructions on how to deploy & configure a single VM setup to Azure
  opencga-app/app/scripts/azure/README.md
Labels: azure

#1150 Healthcheck solr config
  opencga-app/app/scripts/azure/arm/solr/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/solr-setup.sh
  opencga-storage/opencga-storage-core/src/main/java/org/opencb/opencga/storage/core/manager/variant/VariantStorageManager.java
Labels: azure, azure-smoke

#1154 HealthCheck cache
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/daemonvm/azuredeploy.json
  opencga-app/app/scripts/docker/opencga-init/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/override-yaml.py
  opencga-app/app/scripts/docker/opencga-init/setup.sh
  opencga-core/src/main/java/org/opencb/opencga/core/config/Configuration.java
  opencga-core/src/main/java/org/opencb/opencga/core/config/HealthCheck.java
  opencga-core/src/main/resources/configuration.yml
  opencga-server/src/main/java/org/opencb/opencga/server/rest/MetaWSServer.java
  opencga-server/src/main/java/org/opencb/opencga/server/rest/OpenCGAWSServer.java
Labels: azure-smoke

#1167 Remove IVA from OpenCGA
  Jenkinsfile
  opencga-app/app/scripts/docker/build-all.sh
  opencga-app/app/scripts/docker/iva/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/Dockerfile
Labels: azure

#1164 Set TCP keepalive for mongo nodes
  opencga-app/app/conf/hadoop/hadoop-ssh.sh
  opencga-app/app/scripts/azure/arm/mongodb/README.MD
  opencga-app/app/scripts/azure/arm/mongodb/azuredeploy.json
  opencga-app/app/scripts/azure/arm/mongodb/postdeploy.sh
  opencga-app/app/scripts/docker/build-all.sh
  opencga-app/app/scripts/docker/opencga-init/override-yaml.py
  opencga-app/app/scripts/docker/opencga-init/setup.sh
  opencga-app/app/scripts/docker/opencga-init/test/test-override-yaml.py
  opencga-storage/opencga-storage-core/src/main/resources/storage-configuration.yml
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/main/java/org/opencb/opencga/storage/hadoop/variant/HadoopMRLoadVariantStoragePipeline.java
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/main/java/org/opencb/opencga/storage/hadoop/variant/HadoopVariantStorageEngine.java
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/main/java/org/opencb/opencga/storage/hadoop/variant/HadoopVariantStoragePipeline.java
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/main/java/org/opencb/opencga/storage/hadoop/variant/executors/MRExecutor.java
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/main/java/org/opencb/opencga/storage/hadoop/variant/executors/MRExecutorFactory.java
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/main/java/org/opencb/opencga/storage/hadoop/variant/executors/SshMRExecutor.java
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/main/java/org/opencb/opencga/storage/hadoop/variant/executors/SystemMRExecutor.java
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/test/java/org/opencb/opencga/storage/hadoop/variant/HadoopVariantStorageTest.java
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/test/java/org/opencb/opencga/storage/hadoop/variant/executors/SshMRExecutorTest.java
Labels: azure, azure-smoke

#1171 Fix HDInsight sizing bug #1168
  opencga-app/app/scripts/azure/arm/azuredeploy.json
Labels: azure, azure-smoke

#1175 Docker: add sshpass to base opencga image
  opencga-app/app/scripts/docker/opencga-init/Dockerfile
  opencga-app/app/scripts/docker/opencga/Dockerfile
Labels: azure

#1170 Readme changes noting differences when using ARM deployment.
  opencga-app/app/scripts/azure/README.md
Labels: azure

#1179 Add `customTShirt` sizing for testing and tweaking.
  opencga-app/app/scripts/azure/arm/README.md
  opencga-app/app/scripts/azure/arm/azuredeploy.json
Labels: azure

#1182 Fix relocation of jar-with-dependencies path
  opencga-app/app/conf/hadoop/hadoop-ssh.sh
  opencga-storage/opencga-storage-hadoop/opencga-storage-hadoop-core/src/main/java/org/opencb/opencga/storage/hadoop/variant/executors/SshMRExecutor.java
Labels: azure, bug, storage

#1191 Add Yarn site parameter to configure memory allocation
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/hdinsight/azuredeploy.json
Labels: azure, azure-smoke

#1189 Change SOLR disk to SSD and set heap size
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/mongodb/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/solr-setup.sh
Labels: azure, azure-smoke

#1195 Fix Docker Exec Typo in README.md
  opencga-app/app/scripts/azure/README.md
Labels: azure

#1198 Add container names to daemon and web servers
  opencga-app/app/scripts/azure/arm/daemonvm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/webservers/azuredeploy.json
Labels: azure, azure-smoke

#1201 Move to 4 core boxes for all deployment sizes
  opencga-app/app/scripts/azure/arm/azuredeploy.json
Labels: azure, azure-smoke
