Repository opencb/opencga, pull requests merged in 2019-01, with the labels that each got.

#986 app: Fix solr and zookeeper custom script path. Closes #985
  opencga-app/app/scripts/azure/arm/solr/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/zookeeper/azuredeploy.json
Labels: azure

#984 ARM Template for Azure Batch
  .vscode/settings.json
  opencga-app/app/scripts/azure/arm/avere/mount.py
  opencga-app/app/scripts/azure/arm/azurebatch/azuredeploy.json
  opencga-app/app/scripts/azure/arm/azurebatch/configurepool.py
  opencga-app/app/scripts/azure/arm/azurebatch/pool.json
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/deploy.sh
  opencga-app/app/scripts/azure/arm/hdinsight/azuredeploy.json
  opencga-app/app/scripts/azure/arm/vnet/azuredeploy.json
Labels: azure

#991 Hdinsight cluster name must start with a letter
  opencga-app/app/scripts/azure/arm/hdinsight/azuredeploy.json
Labels: azure

#975 SSL-encrypted MongoDB ARM template
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/mongodb/azuredeploy.json
  opencga-app/app/scripts/azure/arm/mongodb/postdeploy.sh
  opencga-app/app/scripts/azure/arm/mongodb/renew_mongo_cert.sh
  opencga-app/app/scripts/azure/arm/vnet/azuredeploy.json
Labels: azure

#1004 Add ARM Validation step to the CI Build
  Jenkinsfile
  opencga-app/app/scripts/azure/arm/armvalconfig.json
  opencga-app/app/scripts/azure/arm/azurebatch/azuredeploy.json
  opencga-app/app/scripts/azure/arm/hdinsight/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/zookeeper/azuredeploy.json
Labels: azure

#969 Docker Create Dockerfiles for IVA, Tomcat, Daemon, Init, OpenCGA CLI
  opencga-app/app/scripts/docker/README.md
  opencga-app/app/scripts/docker/build-all.sh
  opencga-app/app/scripts/docker/iva/Dockerfile
  opencga-app/app/scripts/docker/opencga-app/Dockerfile
  opencga-app/app/scripts/docker/opencga-app/opencga.xml
  opencga-app/app/scripts/docker/opencga-build/Dockerfile
  opencga-app/app/scripts/docker/opencga-build/settings.xml
  opencga-app/app/scripts/docker/opencga-daemon/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/.dockerignore
  opencga-app/app/scripts/docker/opencga-init/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/override-js.py
  opencga-app/app/scripts/docker/opencga-init/override-yaml.py
  opencga-app/app/scripts/docker/opencga-init/setup.sh
  opencga-app/app/scripts/docker/opencga-init/test/test-client-conf.yml
  opencga-app/app/scripts/docker/opencga-init/test/test-conf.yml
  opencga-app/app/scripts/docker/opencga-init/test/test-config.js
  opencga-app/app/scripts/docker/opencga-init/test/test-override-js.py
  opencga-app/app/scripts/docker/opencga-init/test/test-override-yaml.py
  opencga-app/app/scripts/docker/opencga-init/test/test-storage-conf.yml
  opencga-app/app/scripts/docker/opencga-java-base/Dockerfile
  opencga-app/app/scripts/docker/opencga/Dockerfile
Labels: azure

#971 ARM template component configuration integration
  opencga-app/app/scripts/azure/arm/avere/mount.py
  opencga-app/app/scripts/azure/arm/azurebatch/azuredeploy.json
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/azuredeploy.parameters.json
  opencga-app/app/scripts/azure/arm/daemonvm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/webservers/azuredeploy.json
Labels: azure

#995 Enable solr and zookeeper ARM template to be redeployed
  opencga-app/app/scripts/azure/arm/deploy.sh
  opencga-app/app/scripts/azure/arm/solr/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/solr-setup.sh
  opencga-app/app/scripts/azure/arm/solr/zookeeper/azuredeploy.json
  opencga-app/app/scripts/azure/arm/solr/zookeeper/zookeeper-setup.sh
Labels: azure

#1031 Remove reliance for deployment name for storage account.
  opencga-app/app/scripts/azure/arm/hdinsight-storage/azuredeploy.json
Labels: azure

#1030 Move ACI location to westeurope default
  Jenkinsfile
  opencga-app/app/scripts/azure/arm/azurebatch/azuredeploy.json
Labels: azure

#1042 Add Docker CI
  .dockerignore
  .gitignore
  Jenkinsfile
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/azuredeploy.parameters.json
  opencga-app/app/scripts/azure/arm/daemonvm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/webservers/azuredeploy.json
  opencga-app/app/scripts/docker/Makefile
  opencga-app/app/scripts/docker/Makefile.docker
  opencga-app/app/scripts/docker/README.md
  opencga-app/app/scripts/docker/build-all.sh
  opencga-app/app/scripts/docker/iva/Dockerfile
  opencga-app/app/scripts/docker/opencga-app/Dockerfile
  opencga-app/app/scripts/docker/opencga-build/Dockerfile
  opencga-app/app/scripts/docker/opencga-build/settings.xml
  opencga-app/app/scripts/docker/opencga-daemon/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/override-js.py
  opencga-app/app/scripts/docker/opencga-init/setup.sh
  opencga-app/app/scripts/docker/opencga-init/test/test-config.js
  opencga-app/app/scripts/docker/opencga-java-base/Dockerfile
  opencga-app/app/scripts/docker/opencga/Dockerfile
Labels: azure, azure-smoke

#1068 Fixes from debugging docker deployments
  opencga-app/app/scripts/docker/opencga-app/Dockerfile
  opencga-app/app/scripts/docker/opencga-daemon/Dockerfile
  opencga-app/app/scripts/docker/opencga/Dockerfile
Labels: azure, azure-smoke

#1077 Update volume mounts for batch
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/docker/opencga-init/setup.sh
Labels: azure, azure-smoke

#1079 Upgrade HDP-2.6.5 version to HDP-2.6.5.3007-2. Fix Hadoop for Datalake Gen2
  Jenkinsfile
  opencga-app/app/scripts/docker/build-all.sh
  opencga-storage/opencga-storage-hadoop/pom.xml
Labels: azure, azure-smoke, storage

#1081 Change entrypoint and add batch image
  opencga-app/app/scripts/azure/arm/azuredeploy.json
  opencga-app/app/scripts/azure/arm/azuredeploy.parameters.json
  opencga-app/app/scripts/azure/arm/daemonvm/azuredeploy.json
  opencga-app/app/scripts/docker/build-all.sh
  opencga-app/app/scripts/docker/opencga-app/Dockerfile
  opencga-app/app/scripts/docker/opencga-batch/Dockerfile
  opencga-app/app/scripts/docker/opencga-daemon/Dockerfile
  opencga-app/app/scripts/docker/opencga-init/Dockerfile
  opencga-app/app/scripts/docker/opencga/Dockerfile
Labels: azure, azure-smoke

#1083 Added runcmd to wait on configuration directories being available
  opencga-app/app/scripts/azure/arm/scripts/wait_config.sh
  opencga-app/app/scripts/azure/arm/webservers/azuredeploy.json
Labels: azure, azure-smoke

#1074 Changed default storage to SSD for MongoDB
  opencga-app/app/scripts/azure/arm/mongodb/azuredeploy.json
Labels: azure

#1088 Fix IllegalAccessError connecting to Phoenix
  pom.xml
Labels: azure, azure-smoke

#1087 Ensure always 1 VM in batch pool
  opencga-app/app/scripts/azure/arm/azurebatch/azuredeploy.json
Labels: azure, azure-smoke
