Repository opencb/opencga, pull requests merged in 2020-02, with the labels that each got.

#1510 JavaScript OpenCGA Client generator added
  opencga-app/app/misc/clients/js_client_generator.py
Labels: client

#1526 Fix the python script that creates the 1000g template configuration file
  opencga-app/app/misc/demo/1000g_yml_generator.py
Labels: bug

#1525 Improved help method
  opencga-app/app/misc/clients/java_client_generator.py
  opencga-app/app/misc/clients/python_client_generator.py
  opencga-app/app/misc/clients/rest_client_generator.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/opencga_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/admin_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/alignment_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/clinical_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/cohort_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/disease_panel_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/family_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/file_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/ga4gh_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/individual_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/job_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/meta_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/project_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/sample_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/study_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/user_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/variant_client.py
  opencga-client/src/main/python/pyOpenCGA/pyopencga/rest_clients/variant_operation_client.py
Labels: client, web services
