Repository opencb/opencga, pull requests merged in 2021-05, with the labels that each got.

#1750 client: minor improvements
  opencga-client/src/main/python/notebooks/user-training/pyopencga_catalog.ipynb
  opencga-client/src/main/python/notebooks/user-training/pyopencga_first_steps.ipynb
  opencga-client/src/main/python/notebooks/user-training/pyopencga_variant_query.ipynb
Labels: client, improvement

#1762 Fix case for URL options in client
  opencga-app/app/misc/clients/python_client_generator.py
  opencga-client/src/main/python/pyopencga/rest_clients/admin_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/alignment_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/clinical_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/cohort_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/disease_panel_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/family_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/file_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/ga4gh_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/individual_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/job_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/meta_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/project_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/sample_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/study_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/user_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/variant_client.py
  opencga-client/src/main/python/pyopencga/rest_clients/variant_operation_client.py
Labels: bug

#1764 client: create structure of admin notebook #1716
  opencga-client/src/main/python/notebooks/admin-training/pyopencga_admin.ipynb
Labels: client

#1766 client: add content to admin notebook #1716
  opencga-client/src/main/python/notebooks/admin-training/pyopencga_admin.ipynb
Labels: client
